<?xml version="1.0"?>
<Webhooks4Umbraco>
  <Handlers>
    
    <Handler webhookUrl="http://pegasus-dashboard.umbrellainc.co.uk/webhook">
      
      <Events>
        
        <!-- CONTENT EVENTS -->
        <Event name="Saved" type="Umbraco.Core.Services.ContentService, Umbraco.Core">
          <ArgConverters>
            <ArgConverter type="Our.Umbraco.Webhooks4Umbraco.Converters.UmbracoContentSaveEventArgsConverter, Our.Umbraco.Webhooks4Umbraco" />
          </ArgConverters>
        </Event>
        <Event name="Deleted" type="Umbraco.Core.Services.ContentService, Umbraco.Core">
          <ArgConverters>
            <ArgConverter type="Our.Umbraco.Webhooks4Umbraco.Converters.UmbracoContentDeleteEventArgsConverter, Our.Umbraco.Webhooks4Umbraco" />
          </ArgConverters>
        </Event>
        <Event name="Published" type="Umbraco.Core.Services.ContentService, Umbraco.Core">
          <ArgConverters>
            <ArgConverter type="Our.Umbraco.Webhooks4Umbraco.Converters.UmbracoContentPublishEventArgsConverter, Our.Umbraco.Webhooks4Umbraco" />
          </ArgConverters>
        </Event>
        <Event name="UnPublished" type="Umbraco.Core.Services.ContentService, Umbraco.Core">
          <ArgConverters>
            <ArgConverter type="Our.Umbraco.Webhooks4Umbraco.Converters.UmbracoContentPublishEventArgsConverter, Our.Umbraco.Webhooks4Umbraco" />
          </ArgConverters>
        </Event>
        <Event name="SentToPublish" type="Umbraco.Core.Services.ContentService, Umbraco.Core">
          <ArgConverters>
            <ArgConverter type="Our.Umbraco.Webhooks4Umbraco.Converters.UmbracoContentSendToPublishEventArgsConverter, Our.Umbraco.Webhooks4Umbraco" />
          </ArgConverters>
        </Event>
        <Event name="RolledBack" type="Umbraco.Core.Services.ContentService, Umbraco.Core">
          <ArgConverters>
            <ArgConverter type="Our.Umbraco.Webhooks4Umbraco.Converters.UmbracoContentRollbackEventArgsConverter, Our.Umbraco.Webhooks4Umbraco" />
          </ArgConverters>
        </Event>
        <Event name="Copied" type="Umbraco.Core.Services.ContentService, Umbraco.Core">
          <ArgConverters>
            <ArgConverter type="Our.Umbraco.Webhooks4Umbraco.Converters.UmbracoContentCopyEventArgsConverter, Our.Umbraco.Webhooks4Umbraco" />
          </ArgConverters>
        </Event>
        <Event name="Moved" type="Umbraco.Core.Services.ContentService, Umbraco.Core">
          <ArgConverters>
            <ArgConverter type="Our.Umbraco.Webhooks4Umbraco.Converters.UmbracoContentMoveEventArgsConverter, Our.Umbraco.Webhooks4Umbraco" />
          </ArgConverters>
        </Event>
        <Event name="Trashed" type="Umbraco.Core.Services.ContentService, Umbraco.Core">
          <ArgConverters>
            <ArgConverter type="Our.Umbraco.Webhooks4Umbraco.Converters.UmbracoContentMoveEventArgsConverter, Our.Umbraco.Webhooks4Umbraco" />
          </ArgConverters>
        </Event>

      </Events>

      <CustomDataResolvers>
        <CustomDataResolver type="Pegasus.Webhooks.PegasusDataResovler, Pegasus.Webhooks" />
      </CustomDataResolvers>
      
    </Handler>
    
  </Handlers>
</Webhooks4Umbraco>